<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Filter</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container">
        <h1>Apply Filter to your Picture</h1>
        <img id="treeImage" src="{{ image_url }}" width="550" alt="Tree Image">
        <br>
        <button onclick="toggleSlider('sepia')">Sepia</button>
        <button onclick="toggleSlider('blackWhite')">Black & White</button>
        <button onclick="toggleSlider('blur')">Blur</button>
        <button onclick="toggleSlider('brighten')">Brighten</button>
        <button onclick="resetFilters()">Original</button>
        <button onclick="goBackToMainPage()">Back to Main</button>
        <div id="sepiaSliderContainer" class="slider">
            <label for="sepiaSlider">Sepia:</label>
            <input type="range" id="sepiaSlider" min="0" max="100" value="0" oninput="applySepia(this.value)">
        </div>
        <div id="blackWhiteSliderContainer" class="slider">
            <label for="blackWhiteSlider">Black & White:</label>
            <input type="range" id="blackWhiteSlider" min="0" max="100" value="0" oninput="applyBlackWhite(this.value)">
        </div>
        <div id="blurSliderContainer" class="slider">
            <label for="blurSlider">Blur:</label>
            <input type="range" id="blurSlider" min="0" max="10" value="0" oninput="applyBlur(this.value)">
        </div>
        <div id="brightenSliderContainer" class="slider">
            <label for="brightenSlider">Brighten:</label>
            <input type="range" id="brightenSlider" min="0" max="200" value="100" oninput="applyBrighten(this.value)">
        </div>
    </div>
    <script>
        function applySepia() {
            document.getElementById('treeImage').style.filter = 'sepia(100%)';
        }
        
        function applyBlackWhite() {
            document.getElementById('treeImage').style.filter = 'grayscale(100%)';
        }
        
        function applyBlur() {
            document.getElementById('treeImage').style.filter = 'blur(5px)';
        }
        
        function applyBrighten() {
            document.getElementById('treeImage').style.filter = 'brightness(150%)';
        }

        function resetFilters() {
            document.getElementById('treeImage').style.filter = '';
        }
        
        // Function to redirect to the main page
        function goBackToMainPage() {
            window.location.href = '/'; 
        }
    </script>
</body>
</html>
